<!DOCTYPE html>
<html>
<head>
    <title>Update Customer</title>
</head>
<body>
    <center>
        <h2>Update Customer</h2>

        <form method="post">
            Name:
            <input type="text" name="name" value="{{ customer['name'] }}" required><br><br>

            Email:
            <input type="email" name="email" value="{{ customer['email'] }}" required><br><br>

            Phone:
            <input type="text" name="phone" value="{{ customer['phone'] }}" required><br><br>
            
            DOB:
            <input type="date" name="dob" value="{{ customer['dob']}}" required>
            
            <button type="submit">Update</button>
        </form>
    </center>

</body>
</html>